* {
    box-sizing: border-box;
}

body {
    max-width: 600px;
    background: #b0b8ad;
    line-height: 1.5;
    margin: 0 auto;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-weight: 20px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


/*Pseudo-elements --------------------------*/

.intro::first-line {
    font-weight: bold;
    font-size: 1.4em;
}

.intro::first-letter {
    float: left;
    font-size: 80px;
    color: white;
    padding: 5px 10px;
    background: #384047;
    margin: 10px 10px 0 0;
    border-radius: 5px;
    line-height: 1;
}


/* Before & After pseudo elements -------------*/

.jpg::before {
    content: url(../Selectors/img/icn-picture.svg);
    font-size: .75em;
    margin-right: 8px;
}

.zip::before {
    content: url(../Selectors/img/icn-zip.svg);
    font-size: .75em;
    margin-right: 8px;
}

h1::before,
h1::after {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: coral;
    margin: 0 10px;
}