* {
    box-sizing: border-box;
}

body {
    color: #343434;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 1.25em;
}

a {
    text-decoration: none;
}


/* VARIABLES ----------------------------- */

:root {
    --color-primary: #278da4;
    --color-secondary: #b13c69;
    --color-bg: #3acec2;
    --color-bg-light: #009fe1;
    --gradient: var(--color-bg-light), var(--color);
    --font-stack-primary: 'Raleway', sans-serif;
    --font-stack-secondary: 'Bree Serif', serif;
}


/* BASE STYLES --------------------------- */

body {
    font-family: var(--font-stack-primary);
}

h2 {
    font-family: var(--font-stack-secondary);
}

a,
h2 {
    color: var(--color-primary);
}

header {
    background: linear-gradient(var(--gradient)), url('..img/bg.jpg') no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    margin-bottom: calc(var(--spacing)* 1em);
    /* 2em */
}


/* COMPONENT STYLES -------------------------*/

.main-nav li {
    margin: 0 calc(var(--spacing)* 10px);
}