.heart-red {
    --primary-fill: #c44;
    --secondary-fill: #d35f5f;
}

.heart-green {
    --primary-fill: #41af5d;
    --secondary-fill: #5ece7f;
}

.heart-blue {
    --primary-fill: #2e97af;
    --secondary-fill: #38acd0;
}