

body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    color: #222;
    background: #f7f5f0;
}

a {
    text-decoration: none;
    color: #0499ff;
}

 a:hover {
     color: #6633ff;
 }

 .main-nav {
     width: 100%;
     background: black;
     min-height: 50px;
     position: fixed;
     text-align: center;
     
 }
 .nav {
     display: flex;
     justify-content: space-around;
     font-weight: 50;
     list-style-type: none;
     margin: 10px auto;
     padding: 0;
 }
.nav .name {
    display: none;
}

.nav li {
    padding: 5px 10px 10px 10px;
}

.nav a {
    transition: all .5s;
}
.nav a:hover {
color: white;
}

header {
    line-height: 1.5;
}
header .profile-image {
    margin-top: 50px;
    width: 150px;
    height: 150px;
    border: 3px solid white;
    border-radius: 50%;
    transition: all .5s;
}
header .profile-image:hover {
    transform: scale(1.2) rotate(360deg);
}
.tag {
    background-color: #e2e2e2;
    color: black;
    padding: 10px;
    border-radius: 5px;
    display: table;
    margin: 10px auto;
}

location {
    background-color: #222;
    color: yellow;
}
 .skills li {
     border-radius: 10px;
     display: inline-block;
     background: #ff9904;
     color: white;
     padding: 5px 15px;
     margin: 2px;
 }

 .skills li:nth-child(odd) {
    background: #0399ff;
}
 
 .nav .name {
     display: block;
     margin-right: auto;
     color:white;
 }
 main {
     padding-top: 50px;
 }

 main p {
     line-height: 1.6en;
 }

 footer {
     font-size: 1.3en;
     max-width: 1200px;
     margin: 40px auto;
 }

 .card-title {
     text-align: center;
     border: solid black 3px;
     border-radius: 10px;
 }
 footer ul li {
     display: inline-block;
 }

 a.social {
     display: inline-block;
     text-indent: -9999px;
     margin-left: 5px;
     width: 38px;
     height: 38px;
     background-size: 30px 30px;
     opacity: .5;
     transition: all .25s;
 }
  a.twitter {
      background-image: url(image/twitter.svg);
  }

  a.linkedin {
      background-image: url(image/linkedin.svg);
  }

  a.github {
      background-image: url(image/github.svg);
  }

  a.social:hover {
      opacity: 1;
  }

  .clearfix {
      clear: both;
  }