html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    color: #fff;
}

.wrapper {
    background: #1f90ff;
    height: -webkit-calc(80% - 100px);
    width: -webkit-calc(100%/3 - 2em);
}