ul {
    display: -webkit-flex;
    -webkit-flex-flow: row;
    -webkit-flex-wrap: wrap;
}

li {
    -webkit-flex-grow: 1;
    height: 300px;
}

li:nth-child(3) {
    -webkit-flex-grow: 5;
    -webkit-order: -1;
    height: 75px;
    -webkit-align-self: center;
}