* {
    box-sizing: border-box;
}

html,
body,
.wrap {
    height: 100%;
    margin: 0;
}


/*===============================
Mask image Insertig
===============================*/

.wrap {
    background: url('../next-adding-css/mountain.jpg') no-repeat;
}

h1 {
    font-family: Helvetica, sans-serif;
    color: #fff;
    font-size: 22em;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, .4);
    -webkit-mask-image: url('../next-adding-css/texture.png');
    mask-image: url('../next-adding-css/texture.png');
    padding: 260px 0 0 120px;
}