p {
    color: white;
    background-color: lightblue;
}
/*  Body */

body {
    color: #878787;
    margin: 0;
    /* font-size: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;    
    font-style: oblique;                                            
    line-height: 1.5; */
    font: oblique 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;  /* compounding font styles and line height for upper decleration*/
}

/* Class selector */

.main-header {
    background-color: #f03;    /* using color with hexadicimal value short term */
}

.title {
    color: white;
    font-size: 1.625rem;  /* 26px/16px using rem unit.*/
}

.primary-content,
.secondary-content {
    width: 60%;                      /* This is used percentage unit. */
}
/* Heading */
h1 {
    font-size: 5.625rem;            /* 90px / 16px using relative unit.*/
    color: white;                 /* using color keywords */
    text-transform: uppercase;      /* change uppercase using text style */
    font-weight: normal;            /* resizing font-weight to normal */
    line-height: 1.3;
}

h2 {
    font-size: 3.3125em;            /* 53px / 16px */
    text-decoration: underline;     /* underline text using text style */
    font-weight: 400;               /* using numeric value */
}

h3 {
    font-size: 20px;
    color: #48525c;                 /* using color with hexadicimal value */
}

p {
    font-weight: bold;              /* bold text using bold value */
}

.primary-content {
    text-align: center;
}

.secondary-content {
    width: 60%;
}

.primary-content,
.main-header {
    text-align: center;
}
.t-border {
    border-top: 2px solid lightgrey;
}

a:link {
    color: rgb(255, 169, 73);     /* using color value with functional notation */
    text-decoration: none;
}
 
a:visited {
    color: lightblue;
}

a:hover {
    color: forestgreen;
}

p:hover {
    color: blueviolet;
}
 a:active {
     color: lightcoral;
 }

 :focus {
     color: white;
     background-color: orange;
 }
