* {
    box-sizing: border-box;
}

.cube-container {
    max-width: 200px;
    text-align: center;
    margin: 0 auto 4.5em;
}

.photo-desc {
    font-size: .85em;
    color: #fff;
    padding: 1.1em 1em 1em;
    background: #345d88;
}

.button {
    font-size: .8em;
    color: #fff;
    width: 90%;
    line-height: 1.15;
    font-weight: 700;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: .95em 0;
    border-radius: .5em;
    background: rgba(74, 137, 202, .8);
    margin: auto;
    margin-bottom: 30px;
}


/*===================================
Button Transitions
================================== */

.button {
    color: #fff;
    background: #4a89ca;
    transition-duration: 1s;
    transition-property: background;
}

.button:hover {
    background: #d36a62;
    border-radius: 1em;
}

.button:active {
    background: #a33830;
}